{% extends 'webapp/base.html' %}

{% block content %}

    <h5> Welcome, {{user}}! 👋 </h5>

    <hr>

    <a class="btn btn-outline-primary btn-sm" href="{% url 'create-record' %}">

        Create a new record &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>

    </a>

    <hr> 

    <table class="table table-hover table-bordered">

        <thead class="table-light">

            <tr>

                <th scope="col"> ID </th>
                <th scope="col"> Full name </th>
                <th scope="col"> Email </th>
                <th scope="col"> Phone </th>
                <th scope="col"> Address </th>
                <th scope="col"> City </th>
                <th scope="col"> Province </th>
                <th scope="col"> Country </th>

                <th scope="col"> Date joined </th>

                <th scope="col"> View </th>

            </tr>

        </thead>

        <tbody>

        {% if records %}

            {% for record in records %}

            <tr>

                <td> {{record.id}} </td>

                <td> {{record.first_name}}  {{record.last_name}} </td>

                <td> {{record.email}} </td>

                <td> {{record.phone}} </td>
                <td> {{record.address}} </td>
                <td> {{record.city}} </td>
                <td> {{record.province}} </td>
                <td> {{record.country}} </td>

                <td> {{record.creation_date}} </td>

                <td> <a class="btn btn-success btn-sm" href="{% url 'record' record.id %}"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </td>

            </tr>

            {% endfor %}
        
        {% endif %}


        </tbody>


    </table>


{% endblock %}