{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <body>

        <div class="container bg-light shadow-md p-5 form-layout">

            <h3> Create your account </h3>

            <h5> Start managing your clients today! </h5>

            <hr>
            <br>

            <form method="POST" autocomplete="off">

                {% csrf_token %}

                {{form.username|as_crispy_field}}

                <br>

                {{form.password1|as_crispy_field}}

                <br>

                {{form.password2|as_crispy_field}}

                <br>

                <button type="submit" class="btn btn-primary w-100 btn-block p-2"> Create account &nbsp; <i class="fa fa-user" aria-hidden="true"></i> </button>


            </form>

            <br>

            <div class="text-center">

                <p> Already have an account? </p> <a href="{% url 'my-login' %}"> Login </a>

            </div>


        </div>

        <br>

    </body>


{% endblock %}