{% extends 'webapp/base.html' %}

{% block content %}

    <div class="card">


        <div class="card-body">

            <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;

            <strong>   

                {{record.last_name|upper}}
    
                {{record.first_name}}
    
            </strong>
    
            <hr> 

            <p> <strong> ID: </strong> {{record.id}} </p>

            <p> <strong> Email: </strong> {{record.email}} </p>

            <p> <strong> Phone number: </strong> {{record.phone}} </p>

            <p> <strong> Address: </strong> {{record.address}} </p>
            <p> <strong> City: </strong> {{record.city}} </p>
            <p> <strong> Province: </strong> {{record.province}} </p>
            <p> <strong> Country: </strong> {{record.country}} </p>

            <p> <strong> Creation date: </strong> {{record.creation_date}} </p>


        </div>


    </div>

    <br>

    <a href="{% url 'dashboard' %}" class="btn btn-secondary"> Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i> </a>

    &nbsp;

    <a href="{% url 'update-record' record.id %}" class="btn btn-info"> Update record &nbsp; <i class="fa fa-plus" aria-hidden="true"></i> </a>

    &nbsp;

    <a href="{% url 'delete-record' record.id %}" class="btn btn-danger"> Delete &nbsp;<i class="fa fa-minus-square" aria-hidden="true"></i> </a>


{% endblock %}

